/* Reset and Box Model */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

/* BACKGROUND IMAGE */
body {
  height: 100vh;
  background-color: black;
  background-image: url("./images/bg2.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* TITLE ANIMATION */
#title h1,
#title2 h1 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 8px;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1.5s ease-out forwards;
}

#title2 h1 {
  font-size: 40px;
  letter-spacing: 14px;
  color: white;
  height: calc(31vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 100;
  animation-delay: 0.5s; /* Delay for smooth sequence */
}

section#title {
  height: calc(-40vh - -20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin-top: 50px;
}

path {
  stroke: none;
  fill: transparent;
}

/* NAVEGATION BAR */
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar .links {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.navbar .links a {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.192);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: none;
  text-align: center;
  font-size: 15px;
  gap: 5rem;
}

.navbar .links a:hover {
  background-color: white;
  color: black;
}

/* TITLE ANIMATION KEYFRAME */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ANIMATED TEXT IN SVG */
text {
  opacity: 0; /* Start with text hidden */
  transform: translateY(30px); /* Start with the text slightly moved down */
  filter: blur(5px); /* Apply a blur effect to the text */
  animation: fadeInUp 1s ease-out forwards; /* Apply the animation with the same duration as the heading */
}

/* Adjust delays for sequential appearance of the text */
path:nth-child(1) text {
  animation-delay: 1s;
}

path:nth-child(2) text {
  animation-delay: 1.2s;
}

path:nth-child(3) text {
  animation-delay: 1.4s;
}

path:nth-child(4) text {
  animation-delay: 1.6s;
}

path:nth-child(5) text {
  animation-delay: 1.8s;
}

/* KEYFRAME ANIMATION for text appearance */
@keyframes fadeInUp {
  to {
    opacity: 1; /* Fade in the text */
    transform: translateY(0); /* Move the text to its original position */
    filter: blur(0); /* Remove the blur effect */
  }
}

/* MEDIA */
@media (max-width: 1024px) {
  /* Ajustes para dispositivos tablet (iPad y otros dispositivos similares) */
  .navbar {
    height: 50px;
    padding: 0 30px;  /* Añadir margen a los lados del navbar */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;  /* Centrar el navbar */
    max-width: 960px;  /* Limitar el ancho máximo del navbar */
  }

  .navbar .links {
    gap: 0.3rem;
    margin-left: 0;
  }

  .navbar .links a {
    font-size: 14px !important;  /* Ajuste del tamaño de texto */
    padding: 0.2rem 0.5rem;  /* Reducir el padding horizontal para hacer el fondo más angosto */
    background-color: rgba(255, 255, 255, 0.192);  /* Fondo de los enlaces */
    border-radius: 50px;  /* Mantener bordes redondeados */
    text-align: center; /* Alineación centrada */
    margin-top: 30px;
  }

  .navbar .logo img {
    width: 150px;
    height: auto;
    margin-top: 40px;
  }

  #title h1,
  #title2 h1 {
    font-size: 60px;  /* Aumentar el tamaño del texto */
    letter-spacing: 5px;
    margin-top: 80px;
    text-align: center;
  }

  #title2 h1 {
    font-size: 50px;
    letter-spacing: 15px;
    margin-top: 20px;
  }

  section#title {
    margin-top: 100px;
  }

  svg {
    width: 100%; 
    height: auto; 
    margin: 0 auto; 
    position: relative; 
    transform: translateY(30px); 
  }

  svg text {
    font-size: 25px !important; 
    text-anchor: middle; 
  }

  /* Ajuste de la posición del texto dentro del SVG */
  svg path {
    margin-top: 10px; 
  }

  /* Ocultar SVG en pantallas pequeñas y mostrar el párrafo */
  .svg-text {
    display: block; /* Mostrar el párrafo en pantallas pequeñas */
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    margin-top: 20px;
    color: white; /* Color del texto en blanco */
    width: 90%; /* Hacer el texto más estrecho */
    margin-left: auto; /* Centrar el párrafo */
    margin-right: auto; /* Centrar el párrafo */
  }

  svg {
    display: none; /* Ocultar el SVG en pantallas pequeñas */
  }
}

@media (max-width: 768px) {
  /* Ajustes para pantallas de móviles más pequeños */
  .navbar {
    height: 40px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
  }

  .navbar .links {
    gap: 0.3rem;
    margin-left: -50px; 
  }

  .navbar .links a {
    font-size: 8px !important;  /* Ajuste del tamaño de texto */
    padding: 0.1rem 0.3rem;  /* Reducir el padding horizontal para hacer el fondo más angosto */
    background-color: rgba(255, 255, 255, 0.192);  /* Fondo de los enlaces */
    border-radius: 50px;  /* Mantener bordes redondeados */
    text-align: center; /* Alineación centrada */
  }

  .navbar .logo img {
    width: 75px;
    height: auto;
    margin-left: 30;
  }

  #title h1,
  #title2 h1 {
    font-size: 35px;
    letter-spacing: 4px;
    margin-top: 100px;
  }

  #title2 h1 {
    font-size: 25px;
    letter-spacing: 10px;
    margin-top: 40px;
  }

  section#title {
    margin-top: 80px;
  }

  svg {
    width: 100%; 
    height: auto; 
    margin: 0 auto; 
    position: relative; 
    transform: translateY(30px); 
  }

  svg text {
    font-size: 20px !important; 
    text-anchor: middle; 
  }

  /* Ajuste de la posición del texto dentro del SVG */
  svg path {
    margin-top: 10px; 
  }

  /* Ocultar SVG en pantallas pequeñas y mostrar el párrafo */
  .svg-text {
    display: block; /* Mostrar el párrafo en pantallas pequeñas */
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    margin-top: 20px;
    color: white; /* Color del texto en blanco */
    width: 85%; /* Hacer el texto más estrecho */
    margin-left: auto; /* Centrar el párrafo */
    margin-right: auto; /* Centrar el párrafo */
  }

  svg {
    display: none; /* Ocultar el SVG en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  /* Further adjustments for very small screens (smartphones) */
  .navbar {
    padding: 10px;
  }

  .navbar .links a {
    font-size: 14px;  /* Ajuste del tamaño de los enlaces */
    padding: 0.5rem 1rem;  /* Aumentar el padding para facilitar el toque */
  }

  #title h1,
  #title2 h1 {
    font-size: 30px;
    letter-spacing: 2px;
  }

  #title2 h1 {
    font-size: 28px;
    letter-spacing: 6px;
    margin-top: 30px;
  }

  section#title {
    margin-top: 195px;
  }

  .svg-text {
    display: block; /* Mostrar el párrafo en pantallas pequeñas */
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
    margin-top: -30px;
    color: white; /* Color del texto en blanco */
    width: 85%; /* Hacer el texto más estrecho */
    margin-left: auto; /* Centrar el párrafo */
    margin-right: auto; /* Centrar el párrafo */
  }

  svg {
    width: 100%;
    height: auto;
  }
}

